footer
      .footer-content
        h3 This is the footer
        p “Be who you are and say what you feel, because those who mind don't matter, and those who matter don't mind.”
        p - Bernard M. Baruch

        a(href="https://github.com/DVDLC") DVDLC